/* LOGIC BEHIND STYLES
DIVS ALWAYS HAVE CLASS
IF SAME ELEMENTS INSIDE DIV HAVE SAME APPEARENCE , THEY ARE  STYLED USING SCSS NESTING (IN CASE ELEMENT OCCURS MORE THAN ONCE BUT STYLE ARE SAME IT IS ALSO STYLED USING NESTING - eg. <li> in lists ), OTHERWISE IT HAVE CLASS
/////////
SCSS MIXINS AND FUNCS ALWAYS IN TOP OF CLASS PROPERTIES;
SCSS VARIABLES FOR CSS PROPERTIES APPEARS BY ORDER BELOW LIKE NORMAL CSS PROPERTIES;
////////////////
ORDER OF PROPERTIRES IN CLASS: 
1. POSITION AND DIMENSIONS
2.APPEARANCE 
3.TEXT PROPERTIES
4.OTHERS (z-index,aniamtions properties etc.)
*/

//fonts
$mainFont: "Montserrat", sans-serif;
$secondaryFont: "Cabin", sans-serif;
$mainInformationBoxLinkFont: "Caveat", "cursive";

//sizes
$font-bg: 2rem;
$font-md: 1.5rem;
$font-sm: 1.2rem;
//colors
$primiary-color: #2a2a72;
$main-color: #2a2a72;
$chartrouse-color: #20bf55;
$orange-color: #d47304;
$light-Black: #2c3e50;
$light-blue: #0bd3d3;
$red-error: #ad0000;

//z-indexes
$backdrop: 1500;
$headerDropDown: 1600;
$addAddressDropDown: 1600;
$modal-dialog: 1600;
$cartBar: 1600;
$max-width: 135rem;

//MIXINS
//MIXINS
@mixin mainWidthClamp {
  width: clamp(35rem, 90%, 135rem);
}
@mixin greenToBlueGradient {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}
@mixin bluesGradient {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin buttonTransparent {
  border: none;
  background: transparent;
}

@mixin containerLaptop {
  width: 96rem;
}

$primary-color: #fcac59;
$secondary-color: #212121;
@mixin mainFontBold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@mixin centerWithTranslate {
  margin-left: 50%;
  transform: translate(-50%);
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin basicCart {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

@mixin button {
  background-color: #2a2a72;
  color: White;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  text-decoration: none;
}
@mixin mainBorder {
  border: $primiary-color 3px solid;
  border-radius: 5px;
}
@mixin baseButton {
  background: transparent;
  border: 2px solid $primiary-color;
  border-radius: 5px;
  color: inherit;
  padding: 1rem;
}
@mixin setBorders($width, $radius) {
  border: $primiary-color $width solid;
  border-radius: $radius;
}
@mixin disabledButton {
  opacity: 0.7;
  cursor: default;
}

@mixin setAndResizeBackgroundImg($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin fadeInAnim {
  @keyframes fadeInAnim {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
